{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main_app/css/base.css' %}">
    {% block css_links %}{% endblock %}
    <script src="{% static 'main_app/js/base.js' %}"></script>
    {% block js_links %}{% endblock %}
</head>
<body>
    <section class="wrapper">
        <header class="wrapper__header header">
            <h1 class="header__site-name">Интернет-магазин</h1>
            <section class="header__cart">
                {% with count_items=cart|length %}
                    {% if count_items > 0 %}
                        <a href="{% url 'cart:detail' %}">
                            {{ count_items }} тов. | ${{ cart.get_total_price }}
                        </a>
                    {% else %}
                        Корзина пуста
                    {% endif %}
                {% endwith %}
            </section>
        </header>
        <main class="wrapper__main main">
            {% block main %}{% endblock %}
        </main>
        <footer class="wrapper__footer footer">
            <section class="footer__site-map">Карта сайта</section>
            <section class="footer__social-network">Соц. сети</section>
        </footer>
    </section>
</body>
</html>