{% extends 'main_app/base.html' %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" href="{% static 'main_app/main_page.css' %}">
{% endblock %}

{% block main %}
    <a href="{% url 'catalog:main_catalog' %}">Каталог</a>
    <h2>{{ title }}</h2>
    <section>Слайдер</section>
    <section>
        <section>Новинки</section>
        <section>Со скидками</section>
        <section>Бренды</section>
    </section>
    <section>Товары дня</section>
    <section>Самые просматриваемые</section>
{% endblock %}