body {
    font-family: Arial;
}
a {
    color: inherit;
    text-decoration: none;
}



.nav-menu {
    padding: 10px 50px 10px 10px;
    border: 1px solid yellow;

    &__header {
        margin: 0px;
    }
    &__categories {
        list-style-type: none;

        margin: 0px;
        padding: 0px;
    }
    &__category {
        margin: 5px 0;
        
        &:hover {
            color: blue;
        }
        &:focus {
            border: 1px solid blue;
        }
        &:active {
            color: red;
        }
        &:visited {
            color: gray;
        }
    }
}


.wrapper {
    margin: 20px auto;
    width: 90%;

    &__header {}
    &__main {}
    &__footer {}
}


.header {
    display: flex;
    justify-content: space-between;

    border: 1px solid blue;
    padding: 10px 20px;

    &__site-name {}
    &__cart {
        line-height: 4;
    }
}

.footer {
    border: 1px solid green;

    &__site-map {}
    &__social-network {}
}
